{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
   <div class="row">
      <div class="col md-12">

         <div class="jumbotron p-3">

            <h2>Producto <b> </b>


               <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">
                  Agregar
               </button>

            </h2>


            {% with messages = get_flashed_messages() %}

            {% if messages %}

            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">

               <button type="button" class="close" data-dismiss="alert" aria-label="close">

                  <span aria-hidden="true">x</span>

               </button>


               {{message}}


            </div>


            {% endfor %}

            {% endif %}
            {% endwith %}


            <table class="table table-hover">
               <thead class="thead-dark">
                  <tr>
                     <th>Nº</th>
                     <th>Tipo</th>
                     <th>Producto</th>
                     <th>Usuario</th>
                     <th>Estado</th>
                     <th>Acción</th>
                  </tr>

               </thead>


               {% for row in employees %}
               <tr>
                  <td>{{row.Item}}</td>
                  <td>{{row.NomTipoProducto}}</td>
                  <td>{{row.Nombre}}</td>
                  <td>{{row.Usuario}}</td>
                  <td>{{row.Estado}}</td>

                  <td>
                     <a href="Producto/update/{{row.ProductoId}}" class="btn btn-warning btn-xs" data-toggle="modal"
                        data-target="#modaledit{{row.ProductoId}}">Editar</a>
                     <a href="/Producto/delete/{{row.ProductoId}}" class="btn btn-danger btn-xs"
                        onclick="return confirm('Are You Sure To Delete ?')">Borrar</a>


                  </td>

               </tr>


               <!-- Modal Editar-->
               <div id="modaledit{{row.ProductoId}}" class="modal fade" data-backdrop="static" role="dialog">

                  <div class="modal-dialog modal-dialog-centered">

                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalCenterTitle">Editar Producto</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">

                           <form action="{{url_for('update')}}" method="POST">

                              <div class="form-group">
                                 <label>Tipo Producto:</label>
                                 <select id="items" class="form-control text-uppercase" required="1"
                                    name=TipoProductoSelect method="GET" action="/">
                                    {% for tP in TipoProductoList %}
                                    <option value="{{tP[0]}}" SELECTED>{{tP[1]}}</option>"
                                    {% endfor %}
                                 </select>
                              </div>

                              <div class="form-group">
                                 <label>Nombre</label>
                                 <input type="hidden" name="ProductoId" value="{{row.ProductoId}}">
                                 <input type="text" class="form-control text-uppercase" name="Nombre"
                                    value="{{row.Nombre}}">
                              </div>

                              <div class="form-group">
                                 <label>Usurio</label>
                                 <input type="text" class="form-control text-uppercase" name="Usuario"
                                    value="{{row.Usuario}}">
                              </div>

                              <div class="form-group">
                                 <label>Estado</label>
                                 <input type="text" class="form-control text-uppercase" name="Estado"
                                    value="{{row.Estado}}">
                              </div>

                           
                              <div class="form-group">
                                 <button class="btn btn-primary" type="submit">Actualizar</button>
                              </div>

                           </form>

                        </div>

                     </div>

                  </div>

               </div>


               {% endfor %}


            </table>


         </div>



         <!-- Modal Add Producto-->


         <div id="mymodal" class="modal fade" data-backdrop="static" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
               <div class=" modal-content">

                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Producto</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>

                  <div class="modal-body">
                     <form action="{{url_for('insert')}}" method="POST">
                        <div class="form-group">
                           <label>Tipo Producto:</label>
                           <select id="items" class="form-control text-uppercase" required="1" name=TipoProductoSelect
                              method="GET" action="/">
                              {% for tP in TipoProductoList %}
                              <option value="{{tP[0]}}" SELECTED>{{tP[1]}}</option>"
                              {% endfor %}
                           </select>
                        </div>

                        <div class="form-group">
                           <label>Name:</label>
                           <input type="text" class="form-control text-uppercase" name="Nombre" required="1">
                        </div>

                        <div class="form-group"> </div>

                        <div class="form-group">
                           <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>

                     </form>

                  </div>

               </div>

            </div>

         </div>

      </div>

   </div>

</div>


{% endblock %}